site_name: st_yled Documentation
site_url: https://evobyterdigitalbiology.github.io/st-styled/
site_description: Advanced Streamlit Styling Made Simple

repo_name: EvobyteDigitalBiology/st-styled
repo_url: https://github.com/EvobyteDigitalBiology/st-styled

theme:
  name: material
  font:
    text: Roboto
  palette:
    - scheme: default
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.top
    - navigation.expand
    - search.highlight
    - search.share
    - content.code.copy
  language: en
  logo: assets/st_yled Logo Frame.png
  favicon: assets/st_yled_favicon.png
  custom_dir: docs/overrides

nav:
  - Home: index.md
  - Getting Started:
    - getting-started/installation.md
    - getting-started/first-app.md
    - getting-started/basic-styling.md
    - getting-started/global-styling.md
  - st_yled Elements:
    - elements/index.md
    - Text: elements/text-elements.md
    - Input: elements/input-elements.md
    - Data: elements/data-elements.md
    - Layout: elements/layout-elements.md
    - Status: elements/status-elements.md
  - Examples:
    - examples/index.md
    - Basic:
      - examples/basic-examples/simple-styling.md
    - Advanced:
      - examples/advanced-examples/dashboard-demo.md
  - API Reference:
    - api/index.md
  - About:
    - ReadMe: readme.md
    - Changelog: changelog.md
    - License: license.md

plugins:
  - search
  - mkdocstrings
  - git-revision-date-localized
  - minify:
      minify_html: true

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - toc:
      permalink: true

extra_css:
  - stylesheets/extra.css

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/EvobyteDigitalBiology/st-styled
